$done-color:grey;

.todoTask{
  text-align: center;
  color: #3a7be0;


}

.done{
  color: $done-color;
  text-decoration: line-through;
}

.taskNb{
  font-size: 1.6em;
  font-weight: bold;
  

}

ion-button{
  --background: red;
  --color-hover : black;
}

h5{
  text-align: center;
  margin-bottom: 1em;
}